<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite" thread-count="5">
  <listeners>
    <listener class-name="testUtils.AnnotationTransformer"/>
    <listener class-name="testUtils.ExtentTestListener"/>
  </listeners>

  <test name="E2E UI Tests">
    <classes>
      <class name="tests.SelectableTest"/>
      <class name="tests.DroppableTests"/>
      <class name="tests.ResizableTest"/>
      <class name="tests.DraggableTest"/>
      <class name="tests.SortableTest"/>
    </classes>
  </test>

</suite>